:root {
    --color1: #252B48;
    --color2: #445069;
    --color3: #5B9A8B;
    --color4: #F7E987;
    --headling: 'Akshar', sans-serif;
    --body: 'Manjari', sans-serif;
}

html {
    height: 100%;
}

body {
    background-color: var(--color1);
    color: var(--color4);
    font-family: var(--body);
    height: 100%;
}

h1, h2 {
    font-family: var(--headling);
}

h1 {
    font-size: 2.8em;
    margin: 0%;
    text-align: center;
    padding: 10px;
}

h2 {
    font-size: 2.5em;
    text-align: center;
}

p, label {
    font-size: 1em;
}

.navbar {
    background-color: var(--color2) !important;
    height: 8%;
    padding: 0px;
}

.container-fluid {
    background-color: var(--color2);
}

.nav-item {
    font-size: 1.7em;
}

.nav-item:hover {
    text-decoration: underline;
}

.nav-item > a {
    color: var(--color4) !important;
}

.nav-item > .active {
    text-decoration: underline;
}

.navbar-brand {
    font-size: 1.8em;
}

.col-card {
    padding-left: 40px !important;
    padding-right: 40px !important;
}

.card-body {
    background-color: var(--color3);
}

.lead {
    padding-left: 5%;
    padding-right: 5%;
}

.card-title {
    font-weight: bold;
}

.btn-primary {
    background-color: var(--color4);
    color: var(--color1);
    border-color: var(--color2);
}

.btn-primary:hover {
    background-color: var(--color1);
    border-color: var(--color4);
    color: var(--color4);
}

.btn-primary:active  {
    background-color: var(--color1) !important;
    border-color: var(--color3) !important;
    color: var(--color4) !important;
}

.p-sm-1 {
    padding: 20px; 
}

.d-grid {
    margin-top: 2%;
}

.row {
    margin: 0%;
}

.col {
    padding: 0%;
}

.col-sm {
    padding: 0%;
}

.grid-container {
    padding: 0%;
    margin: 0%;
}

.scale {
    position: relative;
    display: flex;
    width: 100%;
    height: 40px;
}

.scale-box-filled {
    flex: 1;
    background-color: black;
    margin: 5px;
    border-radius: 5px;
    box-sizing: border-box;
}

.scale-box-empty {
    flex: 1;
    background-color: white;
    border-color: black;
    border-width: 2px;
    border-style: solid;
    margin: 5px;
    border-radius: 5px;
    box-sizing: border-box;
}

.grid-container {
    background-color: var(--color1);
}

.accordion {
    --bs-accordion-btn-bg: var(--color1);
    --bs-accordion-btn-color: var(--color4);
    --bs-accordion-bg: var(--color2);
    --bs-accordion-active-bg: var(--color3);
    --bs-accordion-active-color: black;
    --bs-accordion-border-radius: none;
    --bs-accordion-inner-border-radius: none;
    --bs-accordion-btn-icon: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='white'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
    --bs-accordion-btn-active-icon: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='white'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}

.accordion-button:not(.collapsed) {
    box-shadow: none;
}

.accordion-button:hover {
    background-color: var(--color3);
    color: black;
}

.profiel {
    background-color: var(--color3);
    padding: 1.1%;
    border-left-width: 1px;
    border-left-style: solid;
    border-left-color: white;
}

.profiel > p {
    font-size: 1.2em;
    color: black;
}

.profielfoto-wrapper {
    width: 17.3%;
    position: relative;
    margin-right: 1.5%;
    float: left;
}

.pills-wrapper {
    padding: 30px 30px 30px 0px;
}

.ps-sm-1 {
    padding-left: 30px !important;
}

.pill {
    text-decoration: none !important;
    font-size: 0.7em;
    margin-right: 20px;
    border-style: solid;
    border-color: var(--color3);
    border-width: 2px;
}

.pill:not(.active) {
    background-color: var(--color3) !important;
    color: black !important;
}

.nav-pills > li:hover {
    text-decoration: none !important;
}

.pill:hover {
    background-color: var(--color1) !important;
    color: var(--color3) !important;
}

.nav-pills {
    --bs-nav-pills-link-active-bg: var(--color1) !important;
    --bs-nav-pills-link-active-color: var(--color3) !important;
}


.grid-opleiding {
    position: relative;
    display: grid;
    height: 250px;
    width: auto;
    grid-template-columns: 57% 40%;
    grid-template-rows: 25% 15% 15% 15%;
    row-gap: 10%;
    column-gap: 3%;
}

.grid-opleiding > div {
    display: flex;
    align-items: center;
    font-size: 1.2em;
}

.item-foto {
    position: relative;
    grid-column-start: 2;
    grid-row-start: 2;
    grid-row-end: span 3;
    overflow: hidden;
    border-radius: 5px;
    align-items: start !important;
}

.item-opleiding {
    color: white;
    background-color: var(--color2);
    font-size: 1.2em;
    font-weight: bold;
    justify-content: center;
    border-radius: 5px;
    padding-left: 10px;
}

.item-datum {
    color: white;
    background-color: var(--color2);
    font-style: italic;
    justify-content: center;
    border-radius: 5px;
    padding-left: 10px;
}

.img-school {
    width: 100%;
}

.btn-info {
    background-color: var(--color4);
    border-color: var(--color4);
    --bs-btn-hover-bg: var(--color1);
    --bs-btn-hover-border-color: var(--color4);
    --bs-btn-hover-color: var(--color4);
    font-size: 1.2em;
}

.btn-info:active  {
    background-color: var(--color1) !important;
    border-color: var(--color3) !important;
    color: var(--color4) !important;
}

.splide {
    width: 100%;
}

.splide__list > li  {
    display: flex;
    justify-content: center;
}

.slide-item {
    width: 94%;
}

.carousel-image {
    width: 100%;
    background-color: var(--color2);
    border-radius: 5px;
    padding: 10px;
}

.footer {
    background-color: var(--color4) !important;
    color: black;
}

.col-sm {
    position: relative !important;
}

.col-carousel {
    padding: 10px;
}

.splide__arrow {
    top: 40% !important;
}

.scale-wrapper {
    position: relative;
    width: 100%;
    height: 40px;
    margin-top: 10px;
}

.scale-wrapper > .scale {
    height: 30px;
    background-color: var(--color2);
    border-radius: 5px;
}

.splide__pagination--ltr {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
}

.footer-container {
    background-color: var(--color4) !important;
}

.text-body-secondary > img {
    width: 30px;
}

.container-hobbys {
    margin: 0px;
    padding: 15px;
}

.container-hobbys-1 {
    height: auto;
    display: block;
}

.container-hobbys-1 > img {
    width: 20%;
    float: right;
    margin-left: 15px;
}

.container-hobbys-2 {
    height: auto;
    background-color: var(--color1);
}

.img-wrapper {
    position: relative;
    float: left;
    width: 30% !important;
    width: auto;
    margin-right: 15px;
}

@media only screen and (min-width: 768px) {
    .img-wrapper {
        height: 300px;
    }
}

.img-wrapper > img {
    width: 100%;
}

.container-hobbys-3 {
    background-color: var(--color3);
    color: black;
}

.carousel-caption {
    position: relative;
    left: auto;
    right: auto;
    background-color: #445069;
    margin-top: 35px;
    font-size: 0.9em;
    height: 280px;
    padding: 10px;
}

.carousel-indicators {
    background-color: var(--color2);
    margin: 0px;
}


.carousel-control {
    bottom: 300px;
}

ol > li {
    text-align: center;
}

ol {
    padding: 0px 80px 0px 100px;
}

.li-active {
    color: var(--color4);
}

.contact-icoon {
    width: 55px;
    float: left;
    margin-right: 20px;
}

.col-contact {
    display: flex;
    flex-direction: column;
    background-color: var(--color3);
    padding: 20px;
}

.contact-link {
    text-decoration: none;
    color: black;
    line-height: 20px;
}

.contact-link:hover {
    color: var(--color4);
    text-decoration: underline;
}

.col-contact > div {
    margin: 10px 0px 10px 0px;
}

.col-contact > h2 {
    color: black;
}

.telefoonnummer {
    color: black;
    line-height: 20px;
}

.col-form {
    padding: 20px 40px 20px 40px;
}

.form-check {
    margin: 10px 0px 10px 0px;
}

.col-checklist {
    background-color: var(--color2);
}

.checklist {
    padding-left: 50px;
}

h3 {
    text-align: center;
    margin: 20px;
}

.submit {
    padding-left: 40px;
}

.img-ervaring {
    width: 100%;
}

.col-opleidingen {
    background-color: var(--color2);
}

.col-ervaring {
    padding: 20px;
}

.col-ervaring > h2 {
    margin-bottom: 20px;
}

.form-check-input:checked {
    background-color: var(--color1) !important;
}

.form-check-input:focus {
    border-color: var(--color4) !important;
}

.form-check-input:checked {
    border-color: var(--color4) !important;
}

.form-check-input:focus, .form-control:focus {
    box-shadow: none !important;
}

.form-control {
    border: none !important;
}