:root {
    --color1: #252B48;
    --color2: #445069;
    --color3: #5B9A8B;
    --color4: #F7E987;
    --headling: 'Akshar', sans-serif;
    --body: 'Manjari', sans-serif;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
}

html {
    height: 100%;
}

body {
    background-color: var(--color1);
    color: var(--color4);
    font-family: var(--body);
    height: 100%;
}

h1, h2 {
    font-family: var(--headling);
}

h1 {
    font-size: 3.8em;
}

h2 {
    font-size: 3em;
    margin-bottom: 2%;
}

p {
    font-size: 1.1em;
    margin-bottom: 5%;
}

a {
    text-decoration: none;
}

.mainDiv {
    position: relative;
    width: 100%;
    height: 92%;
}

nav {
    position: relative;
    width: 100%;
    height: 40%;
    background-color: var(--color2);
    padding: 0px;
    margin: 0px;
    display: flex;
    flex-direction: row;
}

nav a {
    display: flex;
    text-align: center;
    color: var(--color4);
    width: 100%;
    height: 100%;
    font-size: 2em;
    justify-content: center;
    align-items: center;
    flex: 1;
}

nav a:hover {
    text-decoration: underline;
    font-size: 2.5em;
}

.seperator {
    background-color: var(--color4);
    height: 75%;
    width: 0px;
    border-left-style: solid;
    border-left-color: var(--color4);
    border-left-width: 1px;
    border-right-style: solid;
    border-right-color: var(--color4);
    border-right-width: 1px;
    float: left;
    margin-top: 0.5%;
}

.header-home {
    height: 8%;
}

.header-home > nav {
    height: 100%;
}

.sectionLeft {
    position: relative;
    width: 45%;
    height: 92%;
    overflow: hidden;
    float: left;
}

.sectionLeft img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.sectionLeft h1 {
    position: absolute;
    bottom: 30px;
    left: 0px;
    width: 100%;
    text-align: center;
    font-size: 6em;
    color: black;
    text-shadow: -1.5px -1.5px 0 #5B9A8B, 1.5px -1.5px 0 #5B9A8B, -1.5px 1.5px 0 #5B9A8B, 1.5px 1.5px 0 #5B9A8B;
}

.sectionRight {
    position: relative;
    width: 55%;
    height: 92%;
    overflow: hidden;
    padding: 2%;
    box-sizing: border-box;
    
}

.sectionRight h2 {
    text-align: center;
}

.buttonLink {
    position: relative;
    float: left;
    width: 49%;
    height: 18%;
    background-color: var(--color3);
    border-radius: 5px;
    box-sizing: border-box;
}

.buttonLink img {
    width: 25%;
    float: left;
}

.buttonLink a {
    position: relative;
    display: block;
    width: 94%;
    height: 81%;
    font-size: 3em;
    padding: 3%;
    border-radius: 5px;
    color: var(--color1);
    font-family: var(--headling);
    font-weight: bold;
}

.buttonLink .buttonText {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.buttonLink:hover {
    background-color: var(--color2);
    border-style: solid;
    border-width: 2px;
    border-color: var(--color4);
}

.buttonLink:hover a {
    color: var(--color4);
}

.buttonCV, .buttonHobbys {
    margin-right: 2%;
}

.buttonHobbys, .buttonContact {
    margin-top: 2%;
}

header > h1 {
    grid-area: head;
    background-color: var(--color3);
    display: flex;
    color: black;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 60%;
}

header {
    grid-area: header;
    position: relative;
    height: 20%;
    width: 100%;
}

main {
    position: relative;
    width: 100%;
    height: 80%;
    float: right;
}

section {
    box-sizing: border-box;
}

.section1 {
    position: relative;
    grid-area: section1;
    background-color: var(--color2);
    padding: 2%;
    box-sizing: border-box;
    width: 40%;
    height: 100%;
    float: left;
}

.section2 {
    position: relative;
    grid-area: section2;
    padding: 2%;
    box-sizing: border-box;
    width: 60%;
    height: 100%;
    overflow: hidden;
}

table {
    width: 90%;
    height: 70%;
    margin-left: 5%;
}

.section-vaardigheden {
    width: 100%;
    height: 70%;
}

.section-talen {
    width: 100%;
    height: 30%;
}

.cg2 {
    width: 15%;
}

.scale-box {
    height: 70%;
    width: 90%;
    border-radius: 5px;
}

.box-filled {
    background-color: black;
}

.box-empty {
    background-color: white;
    border-style: solid;
    border-width: 2px;
    border-color: black;
    box-sizing: border-box;
}

caption {
    caption-side: bottom;
    color: white;
    font-size: 0.85em;
}

.profielfoto {
    width: 12%;
    float: left;
    margin-right: 5%;
}

.section-opleidingen > p {
    line-height: 1.7em;
}

.opleidingen-datum {
    font-style: italic;
    color: var(--color3);
}

.opleidingen-titel {
    font-weight: bold;
    font-size: 1.3em;
}

.section-opleidingen-details {
    position: relative;
    width: 100%;
    height: 45%;
    background-color: var(--color1);
    padding-right: 1%;
}

.section-prestaties {
    position: relative;
    width: 100%;
    height: 55%;
    background-color: var(--color2);
    padding-left: 1%;
}

.section-opleidingen-details > img {
    height: 100%;
    float: left;
    margin-right: 1%;
}

.section-prestaties > img {
    height: 100%;
    float: right;
    margin-left: 1%;
}

.section-opleidingen-details > p,
.section-prestaties > p {
    margin-bottom: 1%;
}

.section-opleidingen-details > h2,
.section-prestaties > h2 {
    padding-top: 1%;
}