:root {
    --color1: #252B48;
    --color2: #445069;
    --color3: #5B9A8B;
    --color4: #F7E987;
    --headling: 'Akshar', sans-serif;
    --body: 'Manjari', sans-serif;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
}

html {
    height: 100%;
}

body {
    background-color: var(--color1);
    color: var(--color4);
    font-family: var(--body);
    height: 100%;
}

h1, h2 {
    font-family: var(--headling);
}

h1 {
    font-size: 3.9vw;
}

h2 {
    font-size: 2.5vw;
    margin-bottom: 2%;
    text-align: center;
}

p, label {
    font-size: 1.1vw;
}

a {
    text-decoration: none;
}

.mainDiv {
    position: relative;
    width: 100%;
    height: 92%;
}

nav {
    position: relative;
    width: 100%;
    height: 40%;
    background-color: var(--color2);
    padding: 0px;
    margin: 0px;
    display: flex;
    flex-direction: row;
}

nav a {
    display: flex;
    text-align: center;
    color: var(--color4);
    width: 100%;
    height: 100%;
    font-size: 2.1vw;
    justify-content: center;
    align-items: center;
    flex: 1;
}

nav a:hover {
    text-decoration: underline;
    font-size: 2.5vw;
}

.seperator {
    background-color: var(--color4);
    height: 75%;
    width: 0px;
    border-left-style: solid;
    border-left-color: var(--color4);
    border-left-width: 1px;
    border-right-style: solid;
    border-right-color: var(--color4);
    border-right-width: 1px;
    float: left;
    margin-top: 0.5%;
}

.header-home {
    height: 8%;
}

.header-home > nav {
    height: 100%;
}

.main-home {
    width: 55%;
    height: 92%;
}

.aside-home {
    position: relative;
    width: 45%;
    height: 92%;
    overflow: hidden;
    float: left;
}

.aside-home > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.aside-home > h1 {
    position: absolute;
    bottom: 30px;
    left: 0px;
    width: 100%;
    text-align: center;
    font-size: 6.1vw;
    color: black;
    text-shadow: -1.5px -1.5px 0 #5B9A8B, 1.5px -1.5px 0 #5B9A8B, -1.5px 1.5px 0 #5B9A8B, 1.5px 1.5px 0 #5B9A8B;
}

.main-home {
    position: relative;
    width: 55%;
    height: 92%;
    overflow: hidden;
    padding: 2%;
    box-sizing: border-box;
    
}

.main-home > .section1 {
    height: 27%;
}

.main-home > .section2 {
    height: 33%;
}

.main-home > .section3 {
    height: 40%;
}

.main-home > h2 {
    text-align: center;
}

.buttonLink {
    position: relative;
    float: left;
    width: 49%;
    background-color: var(--color3);
    border-radius: 5px;
    box-sizing: border-box;
    height: 45%;
}

.buttonLink img {
    width: 25%;
    float: left;
}

.button-link-animation {
    position: absolute;
    width: 0%;
    height: 0%;
    left: 50%;
    top: 50%;
    border-radius: 5px;
    border-style: solid;
    border-width: 2px;
    border-color: var(--color4);
    box-sizing: border-box;
}

.buttonLink a {
    position: relative;
    display: block;
    width: 94%;
    height: 81%;
    font-size: 3.1vw;
    padding: 3%;
    border-radius: 5px;
    color: var(--color1);
    font-family: var(--headling);
    font-weight: bold;
}

.buttonLink .buttonText {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.buttonLink:hover {
    background-color: var(--color2);
    border-style: solid;
    border-width: 2px;
    border-color: var(--color4);
}

.buttonLink:hover a {
    color: var(--color4);
}

.buttonCV, .buttonHobbys {
    margin-right: 2%;
}

.buttonHobbys, .buttonContact {
    margin-top: 2%;
}

header > h1 {
    grid-area: head;
    background-color: var(--color3);
    display: flex;
    color: black;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 60%;
}

header {
    grid-area: header;
    position: relative;
    height: 20%;
    width: 100%;
}

main {
    position: relative;
    width: 100%;
    height: 80%;
    float: right;
    box-sizing: border-box;
}

section {
    box-sizing: border-box;
}

.main-cv > .section1 {
    position: relative;
    grid-area: section1;
    background-color: var(--color2);
    padding: 2%;
    box-sizing: border-box;
    width: 40%;
    height: 100%;
    float: left;
}

.main-cv > .section2 {
    position: relative;
    grid-area: section2;
    padding: 2%;
    box-sizing: border-box;
    width: 60%;
    height: 100%;
    overflow: hidden;
}

.main-cv > .section2 > section {
    margin-bottom: 8%;
}

.main-cv > .section2 > .section-profiel > h2 {
    text-align: left;
}


table {
    width: 90%;
    height: 70%;
    margin-left: 5%;
}

.section-vaardigheden {
    width: 100%;
    height: 70%;
}

.section-talen {
    width: 100%;
    height: 30%;
}

.cg2 {
    width: 15%;
}

.scale-box {
    height: 70%;
    width: 90%;
    border-radius: 5px;
}

.box-filled {
    background-color: black;
}

.box-empty {
    background-color: white;
    border-style: solid;
    border-width: 2px;
    border-color: black;
    box-sizing: border-box;
}

caption {
    caption-side: bottom;
    color: white;
    font-size: 0.9vw;
}

.profielfoto {
    width: 12%;
    float: left;
    margin-right: 5%;
}

.section-opleidingen > section {
    margin-top: 4%;
}

.section-opleidingen > section > p {
    line-height: 1.7em;
}

.opleidingen-datum {
    font-style: italic;
    color: var(--color3);
}

.opleidingen-titel {
    font-weight: bold;
    font-size: 1.3vw;
}

.section-opleidingen-details {
    position: relative;
    width: 100%;
    height: 45%;
    background-color: var(--color1);
    padding-right: 1%;
}

.section-prestaties {
    position: relative;
    width: 100%;
    height: 55%;
    background-color: var(--color2);
    padding-left: 1%;
}

.section-opleidingen-details > img {
    height: 100%;
    float: left;
    margin-right: 1%;
}

.section-prestaties > img {
    height: 100%;
    float: right;
    margin-left: 1%;
}

.section-opleidingen-details > p,
.section-prestaties > p {
    margin-bottom: 1%;
}

.section-opleidingen-details > h2,
.section-prestaties > h2 {
    padding-top: 1%;
}

.main-hobbys {
    width: 82%;
    float: left;
}

.main-hobbys > section > .wrapper {
    box-sizing: border-box;
    padding: 2%;
}

.main-hobbys > section > .wrapper > p {
    margin-bottom: 2%;
}

.section-hobbys {
    position: relative;
    width: 100%;
    height: 47%;
    overflow: hidden;
}

.section-hobbys > img {
    height: 100%;
    float: left;
    margin-right: 2%;
}

.section-waarom > img {
    height: 100%;
    float: right;
    margin-left: 2%;
}

.section-waarom {
    position: relative;
    width: 100%;
    height: 53%;
    overflow: hidden;
    background-color: var(--color2);
}

.aside-top-tien {
    position: relative;
    width: 18%;
    height: 80%;
    box-sizing: border-box;
    float: right;
    background-color: var(--color4);
    color: var(--color1);
    overflow: hidden;
    padding-top: 1%;
}

.aside-top-tien > ol {
    padding-left: 22%;
    margin-right: 13%;
    margin-top: 10%;
    font-size: 1.5vw;
}

.aside-top-tien > ol > li {
    margin-top: 8%;
    text-align: center;
}

.main-contact > .section {
    height: 100%;
    width: 35%;
    float: left;
    background-color: var(--color2);
}

.main-contact > .section > div {
    width: 100%;
    height: 12%;
    margin-bottom: 4%;
}

.main-contact > .section > div > a { 
    color: var(--color4);
}

.main-contact > .section > h2 {
    margin: 5% 0% 8% 0%;
}

.contact-icoon {
    width: 10%;
    float: left;
    padding-right: 4%;
    margin-top: -1%;
    padding-left: 10%;
}

.main-contact > form {
    position: relative;
    width: 65%;
    height: 100%;
    float: right;
    padding: 2%;
    box-sizing: border-box;
}

.textbox {
    width: 60%;
    height: 6%;
    font-size: 1.3vw;
    box-sizing: border-box;
    border-radius: 5px;
    border-color: var(--color3);
    border-style: solid;
}

label {
    display: inline-block;
    width: 13%;
    margin-bottom: 3%;
    padding-left: 6%;
}

.textarea-wrapper {
    display: flex;
    align-items:start;
}

.textarea {
    width: 60%;
    box-sizing: border-box;
    font-size: 1.3vw;
    margin-left: 0.5%;
    border-radius: 5px;
    border-color: var(--color3);
    border-style: solid;
}

.submit {
    width: 25%;
    background-color: var(--color3);
    border-radius: 5px;
    box-sizing: border-box;
    padding: 1%;
    border-style: none;
    font-size: 1.7vw;
}

.submit:hover {
    background-color: var(--color2);
    border-style: solid;
    border-width: 2px;
    border-color: var(--color4);
    color: var(--color4);
}

.submit-wrapper {
    display: flex;
    width: 100%;
    height: auto;
    margin-top: 2%;
    align-items: center;
    justify-content: center;
}