:root {
    --color1: #252B48;
    --color2: #445069;
    --color3: #5B9A8B;
    --color4: #F7E987;
    --headling: 'Akshar', sans-serif;
    --body: 'Manjari', sans-serif;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
}

html {
    height: 100%;
}

body {
    background-color: var(--color1);
    color: var(--color4);
    font-family: var(--body);
    height: 100%;
}

h1, h2 {
    font-family: var(--headling);
}

a {
    text-decoration: none;
}

img {
    width: 50px;
}

.mainDiv {
    position: relative;
    width: 100%;
    height: 92%;
}

.navbar {
    position: relative;
    width: 100%;
    height: 8%;
    background-color: var(--color2);
    padding: 0px;
    margin: 0px;
}

.navbar ul {
    position: relative;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    list-style-type: none;
}

.navbar li {
    position: relative;
    height: 100%;
    flex: 1;
}

.navbar a {
    display: flex;
    text-align: center;
    color: var(--color4);
    width: 100%;
    height: 100%;
    font-size: 2em;
    justify-content: center;
    align-items: center;
}

.navbar a:hover {
    text-decoration: underline;
    font-size: 2.5em;
}

.seperator {
    background-color: var(--color4);
    height: 75%;
    width: 0px;
    border-left-style: solid;
    border-left-color: var(--color4);
    border-left-width: 1px;
    border-right-style: solid;
    border-right-color: var(--color4);
    border-right-width: 1px;
    float: left;
    margin-top: 0.5%;
}

.sectionLeft {
    position: relative;
    width: 45%;
    height: 92%;
    overflow: hidden;
    float: left;
}

.sectionLeft img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.sectionLeft h1 {
    position: absolute;
    bottom: 30px;
    left: 0px;
    width: 100%;
    text-align: center;
    font-size: 6em;
    color: black;
    text-shadow: -1.5px -1.5px 0 #5B9A8B, 1.5px -1.5px 0 #5B9A8B, -1.5px 1.5px 0 #5B9A8B, 1.5px 1.5px 0 #5B9A8B;
}

.sectionRight {
    position: relative;
    width: 55%;
    height: 92%;
    overflow: hidden;
    padding: 2%;
    box-sizing: border-box;
    
}

.sectionRight h2 {
    text-align: center;
    font-size: 3em;
    margin-bottom: 1%;
}

.sectionRight p {
    font-size: 1.1em;
    margin-bottom: 5%;
}

.buttonLink {
    position: relative;
    float: left;
    width: 49%;
    height: 18%;
    background-color: var(--color3);
    border-radius: 5px;
    box-sizing: border-box;
}

.buttonLink img {
    width: 25%;
    float: left;
}

.buttonLink a {
    position: relative;
    display: block;
    width: 94%;
    height: 81%;
    font-size: 3em;
    padding: 3%;
    border-radius: 5px;
    color: var(--color1);
    font-family: var(--headling);
    font-weight: bold;
}

.buttonLink .buttonText {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.buttonLink:hover {
    background-color: var(--color2);
    border-style: solid;
    border-width: 2px;
    border-color: var(--color4);
}

.buttonLink:hover a {
    color: var(--color4);
}

.buttonCV, .buttonHobbys {
    margin-right: 2%;
}

.buttonHobbys, .buttonContact {
    margin-top: 2%;
}