body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    background-color: #eee;
}

h1 {
    background-color: maroon;
    color: white;
    text-align: center;
}

h2 {
    background-color: #bfeeff;
    padding-left: 10px;
    border-left-color: blue;
    border-left-width: 6px;
    border-left-style: solid;
}

p {
    color: gray;
    margin-bottom: 10px;
}

#extra {
    font-weight: 700;
    color: black;
}

.lijntje {
    font-weight: 700;
    text-decoration: underline;
}